<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboMeow | Register</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>

  <body>
    <form action="/register" method="POST" class="
    container mx-auto my-10 bg-blue flex-col flex "  >
      <h1 class="text-center">REGISTER</h1>

      {{#if message}}{{/if}}

      <input
        placeholder="Enter Your Name"
        type="text"
        name="username"
        id="name"
        required
      />
      <input
        placeholder="Enter Your Email"
        type="email"
        name="email"
        id="email"
        required
      />
      <input
        placeholder="Enter Your Password"
        type="password"
        name="password"
        id="password"
        required
      />
      <input type="submit" value="REGISTER" class="w-30 bg-pink" />
    </form>
  </body>
</html>